{{!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav> --}}

<main role="main" class="inner cover text-center">
  <h1 class="cover-heading display-2">Welcome {{user.name}}</h1>
  <p class="lead">CGPA-ANALYZER is a simple app for calculating and keeping up-to-date with your grades in school.</p>
  <p class="lead">
    <a href="" class="btn btn-lg btn-secondary">Calculate CGPA</a>
  </p>
</main>