<form action="/users/register" method="post" class="form-signin">
  <div class="text-center m-4">
    <h1 class="h3 mb-3 font-weight-normal">Register Account</h1>
  </div>

  <div class="form-label-group">
    <label for="name">Full name</label>
    <input type="text" name="name" class="form-control" placeholder="Full name" value="{{name}}" required autofocus>
  </div>

  <div class="form-label-group">
    <label for="email">Email address</label>
    <input type="email" name="email" class="form-control" placeholder="Email address" value="{{email}}" required
      autofocus>
  </div>

  {{!-- <div class="form-label-group">
    <label for="faculty">Faculty</label>
    <input type="text" id="faculty" class="form-control" placeholder="Faculty" required autofocus>
  </div>

  <div class="form-label-group">
    <label for="school">School</label>
    <input type="text" id="school" class="form-control" placeholder="School" required autofocus>
  </div> --}}

  <div class="form-label-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" value="{{password}}" required>
  </div>

  <div class="form-label-group">
    <label for="password2">Confirm Password</label>
    <input type="password" name="password2" class="form-control" placeholder="Confirm Password" value="{{password2}}"
      required>
  </div>
  <br>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
</form>